body, html { /*Whole doc styling*/
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  letter-spacing: 15px;
}

h2 {
  text-align: center;
}

.logo { /*Actually this is just my name, space it to look all clean and nice*/
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
}

.logo a { /*make the anchor links look good too*/
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
}

nav { /*navbar styling*/
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul { /*navbar styling*/
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul { /*navbar styling*/
  background: #23272a;
}

nav ul li { /*navbar styling*/
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a { /*navbar styling*/
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.main-body { /*quick rundown section that's in front of background image*/
  text-align: left;
  background-color: #f2f2f2;
}

.name { /*styling of my name, like logo*/
  letter-spacing: 15px;
}

.main-body .about { /*styling of about section with photo and short desc.*/
  display: flex;
  align-items:center;
  text-align: left;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #000;
}

.para { /*simple paragraph styling*/
  padding-left: 40px;
  padding-right: 40px;
  float: left;
}

.main-body .profile-pic { /*round out profile picture and make it look nice*/
  border-radius: 50%;
  display: block;
}

.main-body .para1 { /*simple paragraph styling*/
  padding-left: 30px;
  padding-right:30px;
  display: inline;
}

.main-body .para-prog { /*simple paragraph styling*/
  text-align: center;
  padding-left: 20px;
  padding-right:20px;
}

.main-body .about-me { /*about section styling/background forest photo*/
  padding-top: 400px;
  padding-bottom: 200px;
  width: 100%;
  height: 33vh;
  background: url("../img/background2.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #23272a;
}

.main-body .about-me .about-text { /*simple text styling in about*/
  text-align: center;
  color: #fff;
}

.main-body .about-me .about-text .name { /*simple text styling in about*/
  margin-bottom: 0;
}

.main-body .about-me .about-text .degree { /*simple text styling in about*/
  margin-top: 0;
  margin-bottom: 5px;
}

.main-body .about-me .about-text .school { /*simple text styling in about*/
  margin-top: 0;
  margin-bottom: 0;
}

.main-body .programming-skills { /*set up the programming skills section*/
  align-items: center;
  color: #fff;
  background-color: #23272a;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row { /*handles 4x4 text sections/projects look*/
    display: flex;
    padding-bottom: 25px;
}

.column { /*handles 4x4 text sections/projects look*/
    flex: 50%;
    padding-right: 100px;
}

.main-body .projects { /*project section styling*/
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-body .contact { /*contact section styling*/
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #23272a;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 25px;
  padding-bottom: 5px;
}

#contact-header {
  text-decoration: none;
  color: #fff;
}

.fa { /*flavicons styling*/
  border-radius: 50%;
  display: block;
  font-size: 4em;
  padding: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 32px;
}

.fa:hover { /*flavicons styling*/
    opacity: 0.7;
}

.fa-facebook { /*flavicons styling for facebook*/
  background: #3B5998;
  color: white;
}

.fa-twitter {  /*flavicons styling for twitter*/
  background: #55ACEE;
  color: white;
}

.fa-linkedin { /*flavicons styling for linkedin*/
  background: #007bb5;
  color: white;
}

.fa-stack-overflow {  /*flavicons styling for stack overflow*/
  background: #125688;
  color: white;
}

.fa-github {  /*flavicons styling for github*/
  background: #333;
  color: white;
}

.contact-p { /*contact paragraph styling*/
  align-items: center;
}
